body {
    font-family: 'Raleway', Arial, sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: black
}

h1,
h2,
.navbar-brand {
    font-family: 'Courgette', cursive;
}

.skills h2 {
    border-bottom: 1px dashed #FFF;
}

h2 {
    border-bottom: 1px dashed #000;
}

.secondary-header {
    height: 40vh;
    overflow: hidden;
    background-image: url('../pictures/css/secondary-header.jpg');
    background-position: center center;
    background-size: cover;
}


section {
    min-height: 50vh;
    justify-items: center;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #999;
}

.education hr {
    border-color: #17a2b8;
}

.icons-contact {
    background-image: url('../pictures/css/icons-contact.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

.icons-contact ul {
    list-style: none;
    margin-top: 130px;
    margin-left: 105px;
}

.icons-contact li {
    display: inline;
}

@media (max-width: 576px) {
    .icons-contact ul {
        margin-left: 40px;
    }
}

@media (min-width: 576px) {
    .icons-contact ul {
        margin-left: 130px;
    }
}

@media (min-width: 768px) {
    .icons-contact ul {
        margin-left: 220px;
    }
}

@media (min-width: 992px) {
    .icons-contact ul {
        margin-left: 60px;
    }
}

@media (min-width: 1200px) {
    .icons-contact ul {
        margin-left: 105px;
    }
}